
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1> Personel Listesi</h1>



<div class="container">
    <br />
    <h3>İşlem Butonları</h3>
    <br /> <br />
    <button type="button" id="btnemployeelist" class="btn btn-outline-primary">Personel Listesi</button>
    <button type="button" id="btnemployeecreate" class="btn btn-outline-info">Personel Ekle</button>
    <button type="button" id="btnemployeedelete" class="btn btn-outline-danger">Personel Sil</button>
    <button type="button" id="btnemployeeget" class="btn btn-outline-warning">Personel Getir</button>
    <button type="button" id="btnemployeeupdate" class="btn btn-outline-success">Personel Güncelle</button>

</div>
<br />
<br />
<hr />
<div class="container" id="employeelist">

</div>
<script>
    $("#btnemployeelist").click(function()
    {
        $.ajax({
            contentType:"application/json",
            dataType:"json",
            type:"Get",
            url:"/Employee/EmployeeList",
            success: function(funk1){
                let values=jQuery.parseJSON(funk1);
                console.log(values);

                let tablehtml=`<table class= table table-bordered>
                                <tr>
                                <th>Personel ID</th>
                                <th>Personel Adı</th>
                                <th>Personel Soyadı</th>
                                <th>Personel Maaş</th>
                                </tr>`
                $.each(values ,(index,value)=>{
                tablehtml+=`<tr>
                            <td>${value.EmployeeID}</td>
                            <td>${value.EmployeeName}</td>
                            <td>${value.EmployeeSurname}</td>
                            <td>${value.EmployeeSalary}</td>
                            </tr>`
                });
                tablehtml+=`</table>`
                $("#employeelist").html(tablehtml);
            }
        });
    });

</script>
