@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1> Personel Listesi</h1>



<div class="container">
    <br />
    <h3>İşlem Butonları</h3>
    <br /> <br />
    <button type="button" id="btnemployeelist" class="btn btn-outline-primary">Personel Listesi</button>
    <button type="button" id="btnemployeecreate" class="btn btn-outline-info">Personel Ekle</button>
    <button type="button" id="btnemployeedelete" class="btn btn-outline-danger">Personel Sil</button>
    <button type="button" id="btnemployeeget" class="btn btn-outline-warning">Personel Getir</button>
    <button type="button" id="btnemployeeupdate" class="btn btn-outline-success">Personel Güncelle</button>

</div>
<br />
<br />
<hr />
<div class="container" id="employeelist">
</div>

<h3>Yeni Personel Girişi</h3>
<div>
    <input type="text" id="txtname" class="form-control" placeholder="Personel Adı" style="border:1px solid #333" />
    <br />
    <input type="text" id="txtsurname" class="form-control" placeholder="Personel Soyadı" style="border:1px solid #333" />
    <br />
    <input type="text" id="txtsalary" class="form-control" placeholder="Personel Maaşı" style="border:1px solid #333" />
    <br />
</div>
<hr />

<h3>Personel Getirme İşlemi</h3>
<input type="text" placeholder="Getirmek istediğiniz personel ID" class="form-control" style="border:1px solid #333" id="txtemployeeid" />
<div id="employeelistbyid"></div>
<hr />
<div>
    <h3>Personel Silme ALanı</h3>
    <input type="text" placeholder="Silmek istediğiniz personelin IDsi" class="form-control " style="border:1px solid #333"  id="txtdeleteemployeeid"/>
</div>
<script>
    $("#btnemployeelist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Employee/EmployeeList",
            success: function (funk1) {
                let values = jQuery.parseJSON(funk1);
                console.log(values);

                let tablehtml = `<table class= table table-bordered>
                                    <tr>
                                    <th>Personel ID</th>
                                    <th>Personel Adı</th>
                                    <th>Personel Soyadı</th>
                                    <th>Personel Maaş</th>
                                    </tr>`
                $.each(values, (index, value) => {
                    tablehtml += `<tr>
                                <td>${value.EmployeeID}</td>
                                <td>${value.EmployeeName}</td>
                                <td>${value.EmployeeSurname}</td>
                                <td>${value.EmployeeSalary}</td>
                                </tr>`
                });
                tablehtml += `</table>`
                $("#employeelist").html(tablehtml);
            }
        });
    });
    $("#btnemployeecreate").click(function () {
        let employeevalues = {
            EmployeeName: $("#txtname").val(),
            EmployeeSurname: $("#txtsurname").val(),
            EmployeeSalary: $("#txtsalary").val()
        };
        $.ajax({
            type: "post",
            url: "/Employee/CreateEmployee/",
            data: employeevalues,
            success: function (funk2) {
                let result = jQuery.parseJSON(funk2);
                alert("Personel Başarıyla Eklendi");
            }
        });
    });
    $("#btnemployeeget").click(function () {
        let id= $("#txtemployeeid").val();
        $.ajax({
            contentType:"application/json",
            dataType:"json",
            url:"/Employee/GetEmployee/",
            data:{EmployeeID:id},
            success: function(funk3){
            let result=jQuery.parseJSON(funk3);
            console.log(result)
            let htmlstr=`<table class=table table-hover>
            <tr>
            <th>Personel ID </th>
            <th>Personel Adı </th>
            <th>Personel Soyadı </th>
            <th>Personel Maaş </th>           
            </tr>
            <tr>
            <td>${result.EmployeeID}</td>
            <td>${result.EmployeeName}</td>
            <td>${result.EmployeeSurname}</td>
            <td>${result.EmployeeSalary}</td>
            </tr>
            </table>`;
            $("#employeelistbyid").html(htmlstr);
            }
        });
    });
    $("#btnemployeedelete").click(function(){
        let id = $("#txtdeleteemployeeid").val();
        $.ajax({
            url:"/Employee/DeleteEmployee/" + id,
            type:"Get",
            contentType:"application/json",
            success:function(funk4){
                swal("Personel başarıyla silindi.");
            }
        });
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>