@model MongoDbAjaxProject.DAL.Entities.Product
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
}

<br />
<br />
<div class="container">
    <form method="post">
        <label>Ürün Adı</label>
        <br />
        <br />
        <input type="text" asp-for="ProductName" class="form-control" required />
        <br />
        <label>Ürün Fiyatı</label>
        <br />
        <br />
        <input type="text" asp-for="ProductPrice" class="form-control" required />
        <br />
        <label>Stok Adedi</label>
        <br />
        <br />
        <input type="text" asp-for="ProductStock" class="form-control" required />
        <br />
        <button class="btn btn-outline-primary">Kaydet</button>
    </form>
</div>

