@model List<MongoDbAjaxProject.DAL.Entities.Category>
@{
    Layout = "~/Views/Shared/_MongoLayout.cshtml";
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<br />
<br />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
            </tr>            
        }
    </table>
<a href="/Category/CreateCategory" class="btn btn-outline-primary">Yeni Kategori Girişi</a>
</div>


